.form {
  opacity: 90%;
  width: 500px;
  padding: 2em;
}

@media (min-width: 680px) {
  form {
    max-height: auto;
  }
}

@media (max-width: 679.98px) {
  form {
    max-width: 95%;
    max-height: auto;
  }
}