article {
  background-color: var(--text-background);
  /* margin-top: 1em; */
  opacity: 90%;
  /* border-radius: 0.5em; */
}

img.profile-image {
  /* border-radius: 0.5em; */
  width: 300px;
  height: 300px;
}

h1.introduction,
p.introduction,
h2.introduction,
p.introduction-body {
  text-align: left;
}

p.introduction::first-line {
  font-weight: bold;
  font-size: large;
}

@media (min-width: 680px) {
  div.profile-body {
    margin: 3em 10em 0 10em;
    padding: 1em;
  }

  article {
    margin: 1em 4em;
  }
}

@media (min-width: 400px) and (max-width: 679.98px) {
  div.profile-body {
    margin: 3em 2em 0 2em;
    padding: 1em;
  }
  article {
    margin: 1em 1em;
  }
}
