div.profile-body {
  background-color: var(--text-background);
  opacity: 90%;
}

img.profile-image {
  width: 250px;
  height: 250px;
}

p.introduction::first-line {
  font-weight: bold;
  font-size: large;
}

@media (min-width: 680px) {
  div.profile-body {
    max-width: 40%;
  }
  div.profile-image {
    margin-right: 8em;
  }
}
