div.resume {
  background-color: var(--text-background);
  opacity: 90%;
  padding: 2em;
}

@media (min-width: 680px) {
  div.resume {
    max-height: 43em;
    max-width: 75%;
    margin-top: 3em;
  }
}

@media (max-width: 679.98px) {
  div.resume {
    margin-bottom: 0;
  }
}
