div.resume {
  background-color: var(--text-background);
  opacity: 90%;
  max-height: 43em;
}


@media (min-width: 680px) {
  div.resume {
    max-width: 75%;
    padding: 2em;
  }
}

@media (max-width: 679.98px) {
  div.resume {
    max-width: 90%;
    padding: 2em;
    max-height: 28em;
  }
}