* {
  box-sizing: border-box;
}
/* No Display on Scroll Bar */
/* ::-webkit-scrollbar {display: none;} */

:root {
  --background: #242424;
  --text-background: #222222;
  --text: white;
}

/* Layout */
body {
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* body > .resume {
  overflow-y: hidden;
}

@media (max-width: 679.98px) {
  body {
  }
} */

.navbar {
  z-index: 2;
}

.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  z-index: -1;
}
